In [1]:
import pandas as pd

In [2]:
source1=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [3]:
source1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
source1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
s=source1['Name'][0:10]

In [11]:
l=['A','B','C','D','E','F','G','H','I','J']

In [13]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [14]:
#nullify the series
pd.Series(s,index=l)

A    NaN
B    NaN
C    NaN
D    NaN
E    NaN
F    NaN
G    NaN
H    NaN
I    NaN
J    NaN
Name: Name, dtype: object

In [15]:
pd.Series(list(s),index=l)

A                              Braund, Mr. Owen Harris
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [17]:
s
#don't cange any thing

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [18]:
s1=pd.Series(list(s),index=l)

In [19]:
s1

A                              Braund, Mr. Owen Harris
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [22]:
s1[0]

'Braund, Mr. Owen Harris'

In [23]:
s1['A']

'Braund, Mr. Owen Harris'

In [25]:
s2=s1.append(s)

/tmp/ipykernel_91/2552242485.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s1.append(s)

In [26]:
s2

A                              Braund, Mr. Owen Harris
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [31]:
s2['A']='AMXK'
#overwrite

In [28]:
s2

A                                                 AMXK
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [33]:
s2[0]
#the pandas consider namedindex in case number also include namedindex

'Braund, Mr. Owen Harris'

In [35]:
s2=s2.append(s1)

/tmp/ipykernel_91/2645205719.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s2.append(s1)

In [36]:
s2

A                                                 AMXK
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
A                              Braund, Mr. Owen Harris
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [38]:
s2['A']

A                       AMXK
A    Braund, Mr. Owen Harris
dtype: object

In [41]:
s3=source1['Age'][0:10]

In [42]:
s3

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [43]:
s4=source1['Pclass'][4:14]

In [48]:
s4

4     3
5     3
6     1
7     3
8     3
9     2
10    3
11    1
12    3
13    3
Name: Pclass, dtype: int64

In [49]:
s3*s4
#if index matches then multiply corecponding values otherwise show NAN

0       NaN
1       NaN
2       NaN
3       NaN
4     105.0
5       NaN
6      54.0
7       6.0
8      81.0
9      28.0
10      NaN
11      NaN
12      NaN
13      NaN
dtype: float64

In [50]:
s3+s4
#if index matches then Add corecponding values otherwise show NAN

0      NaN
1      NaN
2      NaN
3      NaN
4     38.0
5      NaN
6     55.0
7      5.0
8     30.0
9     16.0
10     NaN
11     NaN
12     NaN
13     NaN
dtype: float64

In [51]:
s3-s4
#if index matches then Subtraction corecponding values otherwise show NAN

0      NaN
1      NaN
2      NaN
3      NaN
4     32.0
5      NaN
6     53.0
7     -1.0
8     24.0
9     12.0
10     NaN
11     NaN
12     NaN
13     NaN
dtype: float64